.track {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  align-items: center;
  display: flex;
  position: relative;
}
.controls {
  margin-right: 10px;
}
.actionButton {
  width: 70px;
  font-size: 9px;
}
.name {
  color: rgb(65, 65, 65);
  margin-left: 20px;
}
.finish {
  position: absolute;
  right: 40px;
}
