.tableWrapper{
  overflow: auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #fff;

  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    cursor: pointer;
  }
}
